@media (max-width: 800px) {
    .favorite {
        flex-direction: column;
    }
}
h1{
    text-align: center;
    font-size: 80px;
    color:cornflowerblue;
}
p{
    text-align: center;
    font-size: 50px;
}
.img{
    border-radius: 80%;
    width:400px;
    height: 400px;
}
.video{
    width: 90%;
    height: 70%; 
}
.fv{
    float:right;
    text-align: center;
    margin:5px;
    border: 1px black;

}
.favorite{
    width: 100%;
    display: flex;
    justify-content: center;
}
